html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,input,textarea,
article,aside,audio,canvas,command,datalist,details,dialog,embed,figure,header,hgroup,keygen,mark,meter,nav,output,progress,rp,rt,ruby,section,source,time,video
{ border:none;
     margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%;
     font-family: inherit; vertical-align: baseline; list-style:none;
}
.clearfix:after  {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix        {display: inline-block;}
.clearfix        {display: block;}
a:link, a:visited {     text-decoration:none;}
a:hover, a:active {     text-decoration:none;}
a{outline:none;*hide-focus: none;color:#006DDD;}
body,html{height:100%; overflow-x:hidden;}
body{font-family:Arial,\9ED1\4F53;font-size:12px;}
input{outline:none;}

.Hidetxt{ display:none;}
div.animateDown{animation-fill-mode:forwards;
animation-play-state:running;
animation:mcc 1s ;
display:block;
-moz-animation:mcc 1s ; /* Firefox */
-webkit-animation:mcc 1s ; /* Safari and Chrome */
 margin-top:0;
}
@keyframes mcc
{
0%   {  opacity:0; margin-top:50px; }
100% { opacity:1; margin-top:0px;}

}

@-webkit-keyframes mcc
{
0%   {  opacity:0; margin-top:50px; }
100% { opacity:1; margin-top:0px;}
}
.popup{ position:fixed; width:100%; height:100%; background-color:rgba(0,0,0,0.7); z-index:9999; left:0; top:0}
.imgShow{  margin: 50% auto;
  width: 65%;}
	.square{
    width: 20px;
    height: 20px;
    border:1px  rgba(255,255,255,1) solid;
    margin: 16px auto;
    position: relative;
	display:block; 
    -webkit-animation: fill_color 5s linear infinite;
       -moz-animation: fill_color 5s linear infinite;
            animation: fill_color 5s linear infinite;
}
.square:after{
    width: 4px;
    height: 4px;
    position: absolute;
    content: "";
    background-color: rgba(255,255,255,1);
    top: -8px;
    left: 0px;
    -webkit-animation: square_check 1s ease-in-out infinite;
       -moz-animation: square_check 1s ease-in-out infinite;
            animation: square_check 1s ease-in-out infinite;
}

@-webkit-keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 22px;}
    75%{ left: -9px; top: 22px;}
    100%{ left: -9px; top: -7px;}
}
@-moz-keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 22px;}
    75%{ left: -9px; top: 22px;}
    100%{ left: -9px; top: -7px;}
}
@keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 22px;}
    75%{ left: -9px; top: 22px;}
    100%{ left: -9px; top: -7px;}
}
@-webkit-keyframes fill_color{
    0%{ box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.1);}
    100%{ box-shadow: inset 0px -20px 0px 0px rgba(255,255,255,1);}
}
@-moz-keyframes fill_color{
    0%{ box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.1);}
    100%{ box-shadow: inset 0px -20px 0px 0px rgba(255,255,255,1);}
}
@keyframes fill_color{
    0%{ box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.1);}
    100%{ box-shadow: inset 0px -20px 0px 0px rgba(255,255,255,1);}
}
    .loading{position:fixed;top:0;left:0;z-index:999;width:100%;height:100%;background:rgba(0,0,0,0.7) repeat;}
    .loadBox{border-radius:5px;position:absolute;top:50%;left:50%;width:120px;padding:5px 10px;margin:-50px 0 0 -60px;color:#F1F1F1;font-size:12px; font-weight:100; text-align:center;}

